body {
    font-family: Arial, sans-serif;
    background-color: rgb(241, 238, 250);
}
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 8px;
}
button {
    margin: 5px auto 20px auto;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    background-color: rgb(218, 194, 240);
    border: 1px solid rgb(150, 127, 219);
    transition: all 1s ;
}
button:hover{
    cursor: pointer;
    background-color: rgb(150, 127, 219);
}
input,textarea{
    width: 97%;
    max-width: 600px;
    margin: 5px;
    padding: 8px;
    letter-spacing: 1px;
    border-radius:10px ;
    border: 1px solid rgb(171, 170, 175);
}
.output {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
.result{
    background-color: rgba(218, 194, 240, 0.219);
    padding: 40px;
    border-radius: 8px;
    border: solid 1px rgb(218, 194, 240);
    display: none;
    font-size: 0.8rem;
    color: rgb(78, 61, 109);
}